<footer class="footer">
  <div class="container footer-container">

    <div class="footer-logo-menu-social">

      <a class="footer-logo" href="./index.html">
        <img class="footer-logo-img" src="./img/header/yaht-icon.svg" alt="logo" />Yacht
        Adventures
      </a>

      <div class="footer-menu">
        <ul class="footer-menu-list">
          <li class="footer-menu-item">
            <a class="footer-menu-anchor" href="">About</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-anchor" href="">Yahts</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-anchor" href="">Reviews</a>
          </li>
        </ul>
      </div>

      <div class="footer-social">
        <p class="footer-social-text">We in social</p>
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a class="footer-social-link" href="" target="_blank" rel="noopener noreferrer">
              <svg class="footer-social-icon">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li class="footer-social-item">
            <a class="footer-social-link" href="" target="_blank" rel="noopener noreferrer">
              <svg class="footer-social-icon">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>

          <li class="footer-social-item">
            <a class="footer-social-link" href="" target="_blank" rel="noopener noreferrer">
              <svg class="footer-social-icon">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-spot"></div>
    <div class="footer-spot-2"></div>
    <div class="footer-bottom-container">
      <p class="footer-bottom-text">2023. Yaht Adventures</p>
      <a class="footer-bottom-link" href="" target="_blank" rel="noopener noreferrer">Privacy Police</a>
    </div>

  </div>
</footer>