<footer class="footer">
  <div class="container footer-container">
    <svg class="footer-vector">
      <use href="./img/icons.svg#"></use>
    </svg>
    <div class="footer-logo-menu-social">
      <div class="footer-logo">
        <img
          class="footer-logo-img"
          src="./img/logo.svg"
          alt="yacht"
          width="16"
          height="18"
        />
        <p class="footer-logo-text">Yaht Adventures</p>
      </div>

      <div class="footer-menu">
        <ul class="footer-menu-list">
          <li class="footer-menu-item">
            <a class="footer-menu-anchor" href="">About</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-anchor" href="">Yahts</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-anchor" href="">Reviews</a>
          </li>
        </ul>
      </div>

      <div class="footer-social">
        <p class="footer-social-text">We in social</p>
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a
              class="footer-social-link"
              href=""
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-social-icon">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              class="footer-social-link"
              href=""
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-social-icon">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              class="footer-social-link"
              href=""
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-social-icon">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom-container">
      <p class="footer-bottom-text">2023. Yaht Adventures</p>
      <p class="footer-bottom-text">Privacy Police</p>
    </div>
  </div>
</footer>
