<header class="header">
    <div class="container header-container">
        <a class="header-logo" href="./index.html">
            <img class="logo-img" src="../img/header/yaht-icon.svg" alt="logo">Yacht Adventures
        </a>
        <nav class="header-navigation">
            <ul class="navigation-list">
                <li class="navigation-item">About</li>
                <li class="navigation-item">Yachts</li>
                <li class="navigation-item">Reviews</li>
            </ul>
        </nav>
    </div>

</header>
