<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="../css/fonts.css" />
    <link rel="preconnect" href="../css/introduce.css" />
  </head>
  <body>
    <div class="div-introduce">
      <p class="text-adventure">
        Yacht Adventures fleet is here to take you on the ultimate adventure.
        Each yacht is hand-picked for its comfort, style, and performance.
      </p>
    </div>
  </body>
</html>
