<section class="section rest-section" id="services">
  <div class="container rest-container">
    <ul class="rest-list">
      <li class="rest-item diving-item">
        <picture class="item-img">
          <source
            srcset="
              ./img/services/diving-mobile.png    1x,
              ./img/services/diving-mobile@2x.png 2x
            "
            media="(max-width:374px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/services/diving-mobile.webp    1x,
              ./img/services/diving-mobile@2x.webp 2x
            "
            media="(max-width:767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/services/diving-tablet.png    1x,
              ./img/services/diving-tablet@2x.png 2x
            "
            media="(max-width:1279px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/services/diving-tablet.webp    1x,
              ./img/services/diving-tablet@2x.webp 2x
            "
            media="(max-width:1279px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/services/diving-desktop.png    1x,
              ./img/services/diving-desktop@2x.png 2x
            "
            media="(min-width:1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/services/diving-desktop.webp    1x,
              ./img/services/diving-desktop@2x.webp 2x
            "
            media="(min-width:1280px)"
            type="image/webp"
          />

          <img src="./img/services/diving-mobile.png" alt="diving" />
        </picture>
        <button class="rest-button" type="button">Diving</button>
      </li>
      <li class="rest-item fishing-item">
        <picture class="item-img">
          <source
            srcset="
              ./img/services/fishing-mobile.png    1x,
              ./img/services/fishing-mobile@2x.png 2x
            "
            media="(max-width:374px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/services/fishing-mobile.webp    1x,
              ./img/services/fishing-mobile@2x.webp 2x
            "
            media="(max-width:767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/services/fishing-tablet.png    1x,
              ./img/services/fishing-tablet@2x.png 2x
            "
            media="(max-width:1279px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/services/fishing-tablet.webp    1x,
              ./img/services/fishing-tablet@2x.webp 2x
            "
            media="(max-width:1279px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/services/fishing-desktop.png    1x,
              ./img/services/fishing-desktop@2x.png 2x
            "
            media="(min-width:1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/services/fishing-desktop.webp    1x,
              ./img/services/fishing-desktop@2x.webp 2x
            "
            media="(min-width:1280px)"
            type="image/webp"
          />

          <img src="./img/services/fishing-mobile.png" alt="fishing" />
        </picture>
        <button class="rest-button" type="button">Fishing</button>
      </li>
      <li class="rest-item sunbathing-item">
        <picture class="item-img">
          <source
            srcset="
              ./img/services/sunbathing-mobile.png    1x,
              ./img/services/sunbathing-mobile@2x.png 2x
            "
            media="(max-width:374px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/services/sunbathing-mobile.webp    1x,
              ./img/services/sunbathing-mobile@2x.webp 2x
            "
            media="(max-width:767.98px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/services/sunbathing-tablet.png    1x,
              ./img/services/sunbathing-tablet@2x.png 2x
            "
            media="(max-width:1279px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/services/sunbathing-tablet.webp    1x,
              ./img/services/sunbathing-tablet@2x.webp 2x
            "
            media="(max-width:1279px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/services/sunbathing-desktop.png    1x,
              ./img/services/sunbathing-desktop@2x.png 2x
            "
            media="(min-width:1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/services/sunbathing-desktop.webp    1x,
              ./img/services/sunbathing-desktop@2x.webp 2x
            "
            media="(min-width:1280px)"
            type="image/webp"
          />

          <img src="./img/services/sunbathing-mobile.png" alt="sunbathing" />
        </picture>
        <button class="rest-button" type="button">Sunbathing</button>
      </li>
    </ul>
  </div>
</section>
