<section class="section rest-section" id="services">
  <ul class="rest-list">
    <div class="container-item container">
      <li class="rest-item diving-item">
        <img
          class="item-img"
          src="../img/services/diving-mobile.png"
          alt="diving"
        />
        <button class="rest-button" type="button">
          <a class="rest-button-link" href="#">Diving</a>
        </button>
      </li>
    </div>
    <div class="container-item container">
      <li class="rest-item fishing-item">
        <img
          class="item-img"
          src="../img/services/fishing-mobile.png"
          alt="fishing"
        />
        <button class="rest-button" type="button">
          <a class="rest-button-link" href="#">Fishing</a>
        </button>
      </li>
    </div>
    <div class="container-item container">
      <li class="rest-item sunbathing-item">
        <img
          class="item-img"
          src="../img/services/sunbathing-mobile.png"
          alt="sunbathing"
        />
        <button class="rest-button" type="button">
          <a class="rest-button-link" href="#">Sunbathing</a>
        </button>
      </li>
    </div>
  </ul>
</section>
