<section class="section reviews">
  <div class="container">
    <div class="reviews-bloc-titel">
      <h3 class="reviews-titel">
        <span class="text-accent">Yacht Adventures</span> take pride in
        providing the best possible service and experience to our customers
      </h3>
      <p class="reviews-text">
        Our customers have enjoyed unforgettable moments on our yachts. Don't
        just take our word for it - read on to find out what they have to say
        about their journey with us.
      </p>
    </div>

    <!-- Slider main container -->
    <div class="swiper reviews-swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="reviews-item response-box-1">
            <div class="reviews-box-foto">
              <picture>
                <source
                  srcset="
                    ./img/reviews/reviewer-1-mobile.png    1x,
                    ./img/reviews/reviewer-1-mobile@2x.png 2x
                  "
                  media="(max-width:767px)"
                  type="image/png"
                />
                <source
                  srcset="
                    ./img/reviews/reviewer-1-mobile.webp    1x,
                    ./img/reviews/reviewer-1-mobile@2x.webp 2x
                  "
                  media="(max-width:767px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/reviews/reviewer-1.png    1x,
                    ./img/reviews/reviewer-1@2x.png 2x
                  "
                  media="(min-width:768px)"
                  type="image/png"
                />
                <source
                  srcset="
                    ./img/reviews/reviewer-1.webp    1x,
                    ./img/reviews/reviewer-1@2x.webp 2x
                  "
                  media="(min-width:768px)"
                  type="image/webp"
                />
                <img
                  class="reviews-foto"
                  src="./img/reviews/reviewer-1-mobile.png"
                  alt="John Wax"
                />
              </picture>
            </div>
            <h4 class="reviews-name">John Wax</h4>
            <p class="reviews-response">
              I rented the Lagoon 620 with my family for a week-long vacation
              and it was the best decision ever. The yacht was spacious,
              comfortable, and luxurious, and the crew took care of everything.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews-item response-box-2">
            <div class="reviews-box-foto">
              <picture>
                <source
                  srcset="
                    ./img/reviews/reviewer-2-mobile.png    1x,
                    ./img/reviews/reviewer-2-mobile@2x.png 2x
                  "
                  media="(max-width:767px)"
                  type="image/png"
                />
                <source
                  srcset="
                    ./img/reviews/reviewer-2-mobile.webp    1x,
                    ./img/reviews/reviewer-2-mobile@2x.webp 2x
                  "
                  media="(max-width:767px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/reviews/reviewer-2.png    1x,
                    ./img/reviews/reviewer-2@2x.png 2x
                  "
                  media="(min-width:768px)"
                  type="image/png"
                />
                <source
                  srcset="
                    ./img/reviews/reviewer-2.webp    1x,
                    ./img/reviews/reviewer-2@2x.webp 2x
                  "
                  media="(min-width:768px)"
                  type="image/webp"
                />
                <img
                  class="reviews-foto"
                  src="./img/reviews/reviewer-2-mobile.png"
                  alt="Victoria Romashenko"
                />
              </picture>
            </div>
            <h4 class="reviews-name">Victoria Romashenko</h4>
            <p class="reviews-response">
              The Sunseeker Manhattan 66 was the perfect choice for our romantic
              getaway. The yacht was beautifully designed, with all the
              amenities we needed, and the crew was attentive and friendly.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews-item response-box-3">
            <div class="reviews-box-foto">
              <picture>
                <source
                  srcset="
                    ./img/reviews/reviewer-3-mobile.png    1x,
                    ./img/reviews/reviewer-3-mobile@2x.png 2x
                  "
                  media="(max-width:767px)"
                  type="image/png"
                />
                <source
                  srcset="
                    ./img/reviews/reviewer-3-mobile.webp    1x,
                    ./img/reviews/reviewer-3-mobile@2x.webp 2x
                  "
                  media="(max-width:767px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/reviews/reviewer-3.png    1x,
                    ./img/reviews/reviewer-3@2x.png 2x
                  "
                  media="(min-width:768px)"
                  type="image/png"
                />
                <source
                  srcset="
                    ./img/reviews/reviewer-3.webp    1x,
                    ./img/reviews/reviewer-3@2x.webp 2x
                  "
                  media="(min-width:768px)"
                  type="image/webp"
                />
                <img
                  class="reviews-foto"
                  src="./img/reviews/reviewer-2-mobile.png"
                  alt="Victoria Romashenko"
                />
              </picture>
            </div>
            <h4 class="reviews-name">Ihor Trachuk</h4>
            <p class="reviews-response">
              The Azimut 80 was the most luxurious yacht I've ever been on. The
              cabins were spacious and elegant, and the outdoor areas were
              perfect for relaxing and entertaining. Worth every penny!
            </p>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>

    <ul class="reviews-list">
      <li class="reviews-item response-box-1">
        <div class="reviews-box-foto">
          <picture>
            <source
              srcset="
                ./img/reviews/reviewer-1-mobile.png    1x,
                ./img/reviews/reviewer-1-mobile@2x.png 2x
              "
              media="(max-width:767px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/reviews/reviewer-1-mobile.webp    1x,
                ./img/reviews/reviewer-1-mobile@2x.webp 2x
              "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/reviews/reviewer-1.png    1x,
                ./img/reviews/reviewer-1@2x.png 2x
              "
              media="(min-width:768px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/reviews/reviewer-1.webp    1x,
                ./img/reviews/reviewer-1@2x.webp 2x
              "
              media="(min-width:768px)"
              type="image/webp"
            />
            <img
              class="reviews-foto"
              src="./img/reviews/reviewer-1-mobile.png"
              alt="John Wax"
            />
          </picture>
        </div>
        <h4 class="reviews-name">John Wax</h4>
        <p class="reviews-response">
          I rented the Lagoon 620 with my family for a week-long vacation and it
          was the best decision ever. The yacht was spacious, comfortable, and
          luxurious, and the crew took care of everything.
        </p>
      </li>
      <li class="reviews-item response-box-2">
        <div class="reviews-box-foto">
          <picture>
            <source
              srcset="
                ./img/reviews/reviewer-2-mobile.png    1x,
                ./img/reviews/reviewer-2-mobile@2x.png 2x
              "
              media="(max-width:767px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/reviews/reviewer-2-mobile.webp    1x,
                ./img/reviews/reviewer-2-mobile@2x.webp 2x
              "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/reviews/reviewer-2.png    1x,
                ./img/reviews/reviewer-2@2x.png 2x
              "
              media="(min-width:768px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/reviews/reviewer-2.webp    1x,
                ./img/reviews/reviewer-2@2x.webp 2x
              "
              media="(min-width:768px)"
              type="image/webp"
            />
            <img
              class="reviews-foto"
              src="./img/reviews/reviewer-2-mobile.png"
              alt="Victoria Romashenko"
            />
          </picture>
        </div>
        <h4 class="reviews-name">Victoria Romashenko</h4>
        <p class="reviews-response">
          The Sunseeker Manhattan 66 was the perfect choice for our romantic
          getaway. The yacht was beautifully designed, with all the amenities we
          needed, and the crew was attentive and friendly.
        </p>
      </li>
      <li class="reviews-item response-box-3">
        <div class="reviews-box-foto">
          <picture>
            <source
              srcset="
                ./img/reviews/reviewer-3-mobile.png    1x,
                ./img/reviews/reviewer-3-mobile@2x.png 2x
              "
              media="(max-width:767px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/reviews/reviewer-3-mobile.webp    1x,
                ./img/reviews/reviewer-3-mobile@2x.webp 2x
              "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/reviews/reviewer-3.png    1x,
                ./img/reviews/reviewer-3@2x.png 2x
              "
              media="(min-width:768px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/reviews/reviewer-3.webp    1x,
                ./img/reviews/reviewer-3@2x.webp 2x
              "
              media="(min-width:768px)"
              type="image/webp"
            />
            <img
              class="reviews-foto"
              src="./img/reviews/reviewer-2-mobile.png"
              alt="Victoria Romashenko"
            />
          </picture>
        </div>
        <h4 class="reviews-name">Ihor Trachuk</h4>
        <p class="reviews-response">
          The Azimut 80 was the most luxurious yacht I've ever been on. The
          cabins were spacious and elegant, and the outdoor areas were perfect
          for relaxing and entertaining. Worth every penny!
        </p>
      </li>
    </ul>

    <button
      class="btn reviews-btn-scroll btn-sm btn-primary rounded-circle position-fixed bottom-0 end-0 translate-middle d-none"
      onclick="scrollToTop()"
      id="back-to-up"
    >
      <svg class="" width="8" height="16">
        <use href="./img/icons.svg#icon-up"></use>
      </svg>
      <!-- <i class="fa fa-arrow-up" aria-hidden="true"></i> -->
    </button>
  </div>
</section>
