<section class="reviews-block section">
<div class="container">
    <h3 class="reviews-titel"><span class="text-accent">Yacht Adventures</span> take pride in providing the best possible service and experience to our customers</h3>
    <p class="reviews-text">Our customers have enjoyed unforgettable moments on our yachts. Don't just take our word for it - read on to find out what they have to say about their journey with us.</p>
    <ul class="reviews-list">
        <li class="reviews-item response-box-1">
            <img src class="reviews-foto" href="" width="" height="" alt=""></img>
            <h4 class="reviews-name">John Wax</h4>
            <p class="reviews-response">
                I rented the Lagoon 620 with my family for a week-long vacation and it was the best decision ever. The yacht was spacious, comfortable, and luxurious, and the crew took care of everything. 
            </p>
        </li>
        <li class="reviews-item response-box-2">
            <img src class="reviews-foto" href="" width="" height="" alt=""></img>
            <h4 class="reviews-name">Victoria Romashenko</h4>
            <p class="reviews-response">
                The Sunseeker Manhattan 66 was the perfect choice for our romantic getaway. The yacht was beautifully designed, with all the amenities we needed, and the crew was attentive and friendly. 
            </p>
        </li>
        <li class="reviews-item response-box-3">
            <img src class="reviews-foto" href="" width="" height="" alt=""></img>
            <h4 class="reviews-name">Ihor Trachuk</h4>
            <p class="reviews-response">
                The Azimut 80 was the most luxurious yacht I've ever been on. The cabins were spacious and elegant, and the outdoor areas were perfect for relaxing and entertaining. Worth every penny!
            </p>
        </li>
    </ul>
    <!-- <button class="btn btn-sm btn-primary rounded-circle position-fixed bottom-0 end-0 translate-middle d-none" onclick="scrollToTop()" id="back-to-up">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
      </button> -->
</div>
</section>