<section id="yacht" class="section">
  <div class="container yacht">
    <div class="yacht-wrap-title">
      <h2 class="yacht-title">
        Choose your dream yacht and sail away into the sunset
      </h2>
      <a class="yacht-btn" href="#rent">Yacht rental</a>
    </div>
    <!-- Slider main container -->
    <div class="swiper yacht-swiper">
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper">
        <!-- Slides -->
        <li class="swiper-slide yaht-slider-item">
          <div class="yacht-item">
            <picture class="yacht-item-foto">
              <source
                srcset="
                  ./img/yachts/yacht-1-mobile.png    1x,
                  ./img/yachts/yacht-1-mobile@2x.png 2x
                "
                media="(max-width:375px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-1-mobile.webp    1x,
                  ./img/yachts/yacht-1-mobile@2x.webp 2x
                "
                media="(max-width:375px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-1-tablet.png    1x,
                  ./img/yachts/yacht-1-tablet@2x.png 2x
                "
                media="(min-width:376px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-1-tablet.webp    1x,
                  ./img/yachts/yacht-1-tablet@2x.webp 2x
                "
                media="(min-width:376px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-1-desktop.png    1x,
                  ./img/yachts/yacht-1-desktop@2x.png 2x
                "
                media="(min-width:1280px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-1-desktop.webp    1x,
                  ./img/yachts/yacht-1-desktop@2x.webp 2x
                "
                media="(min-width:1280px)"
                type="image/webp"
              />
              <img
                class="yacht-foto"
                src="../img/yachts/yacht-1-mobile.png"
                alt="yacht"
              />
            </picture>
            <div class="yacht-describe-wrap">
              <div class="yacht-describe-block">
                <h3 class="yacht-describe-title">Arrow</h3>
                <p class="yacht-describe-text">LUXURY YAHTS</p>
              </div>
              <ul class="yacht-describe-list">
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">LENGTH</p>
                  <p class="yacht-describe-item-info">48m(155ft)</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">BUILDER</p>
                  <p class="yacht-describe-item-info">Admiral</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">BUILT</p>
                  <p class="yacht-describe-item-info">2021</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">GUESTS</p>
                  <p class="yacht-describe-item-info">11 in 5 cabins</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">PRICE</p>
                  <p class="yacht-describe-item-info">€33,500,000</p>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="swiper-slide yaht-slider-item">
          <div class="yacht-item">
            <picture class="yacht-item-foto">
              <source
                srcset="
                  ./img/yachts/yacht-2-mobile.png    1x,
                  ./img/yachts/yacht-2-mobile@2x.png 2x
                "
                media="(max-width:375px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-2-mobile.webp    1x,
                  ./img/yachts/yacht-2-mobile@2x.webp 2x
                "
                media="(max-width:375px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-2-tablet.png    1x,
                  ./img/yachts/yacht-2-tablet@2x.png 2x
                "
                media="(min-width:376px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-2-tablet.webp    1x,
                  ./img/yachts/yacht-2-tablet@2x.webp 2x
                "
                media="(min-width:376px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-2-desktop.png    1x,
                  ./img/yachts/yacht-2-desktop@2x.png 2x
                "
                media="(min-width:1280px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-2-desktop.webp    1x,
                  ./img/yachts/yacht-2-desktop@2x.webp 2x
                "
                media="(min-width:1280px)"
                type="image/webp"
              />
              <img
                class="yacht-foto"
                src="../img/yachts/yacht-2-mobile.png"
                alt="yacht"
              />
            </picture>
            <div class="yacht-describe-wrap">
              <div class="yacht-describe-block">
                <h3 class="yacht-describe-title">BENETTI OASIS 40M.</h3>
                <p class="yacht-describe-text">LUXURY YAHTS</p>
              </div>
              <ul class="yacht-describe-list">
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">LENGTH</p>
                  <p class="yacht-describe-item-info">41m (133ft)</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">BUILDER</p>
                  <p class="yacht-describe-item-info">Benetti</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">BUILT</p>
                  <p class="yacht-describe-item-info">2025</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">GUESTS</p>
                  <p class="yacht-describe-item-info">10 in 5 cabins</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">PRICE</p>
                  <p class="yacht-describe-item-info">€23,500,000</p>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="swiper-slide yaht-slider-item">
          <div class="yacht-item">
            <picture class="yacht-item-foto">
              <source
                srcset="
                  ./img/yachts/yacht-3-mobile.png    1x,
                  ./img/yachts/yacht-3-mobile@2x.png 2x
                "
                media="(max-width:375px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-3-mobile.webp    1x,
                  ./img/yachts/yacht-3-mobile@2x.webp 2x
                "
                media="(max-width:375px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-3-tablet.png    1x,
                  ./img/yachts/yacht-3-tablet@2x.png 2x
                "
                media="(min-width:376px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-3-tablet.webp    1x,
                  ./img/yachts/yacht-3-tablet@2x.webp 2x
                "
                media="(min-width:376px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-3-desktop.png    1x,
                  ./img/yachts/yacht-3-desktop@2x.png 2x
                "
                media="(min-width:1280px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-3-desktop.webp    1x,
                  ./img/yachts/yacht-3-desktop@2x.webp 2x
                "
                media="(min-width:1280px)"
                type="image/webp"
              />
              <img
                class="yacht-foto"
                src="../img/yachts/yacht-3-mobile.png"
                alt="yacht"
              />
            </picture>
            <div class="yacht-describe-wrap">
              <div class="yacht-describe-block">
                <h3 class="yacht-describe-title">BELLE ANNA</h3>
                <p class="yacht-describe-text">LUXURY YAHTS</p>
              </div>
              <ul class="yacht-describe-list">
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">LENGTH</p>
                  <p class="yacht-describe-item-info">50m(155ft)</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">SHIPYARD</p>
                  <p class="yacht-describe-item-info">ISA</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">BUILT</p>
                  <p class="yacht-describe-item-info">2012</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">GUESTS</p>
                  <p class="yacht-describe-item-info">12 in 6 cabins</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">PRICE</p>
                  <p class="yacht-describe-item-info">€21,000,000</p>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <!-- If we need pagination -->

      <div class="yacht-swiper-button-wrap">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>
