<section id="yacht" class="section yacht-section">
  <div class="container yacht">
    <div class="yacht-wrap-title">
      <h2 class="yacht-title">
        Choose your dream yacht and sail away into the sunset
      </h2>
      <a class="yacht-btn" href="#rent">Yacht rental</a>
    </div>
    <!-- Slider main container -->
    <div class="swiper yacht-swiper">
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper">
        <!-- Slides -->
        <li class="swiper-slide yaht-slider-item">
          <div class="yacht-item">
            <picture class="yacht-item-foto">
              <source
                srcset="
                  ./img/yachts/yacht-1-mobile.png    1x,
                  ./img/yachts/yacht-1-mobile@2x.png 2x
                "
                media="(max-width:375px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-1-mobile.webp    1x,
                  ./img/yachts/yacht-1-mobile@2x.webp 2x
                "
                media="(max-width:375px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-1-tablet.png    1x,
                  ./img/yachts/yacht-1-tablet@2x.png 2x
                "
                media="(min-width:376px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-1-tablet.webp    1x,
                  ./img/yachts/yacht-1-tablet@2x.webp 2x
                "
                media="(min-width:376px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-1-desktop.png    1x,
                  ./img/yachts/yacht-1-desktop@2x.png 2x
                "
                media="(min-width:1280px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-1-desktop.webp    1x,
                  ./img/yachts/yacht-1-desktop@2x.webp 2x
                "
                media="(min-width:1280px)"
                type="image/webp"
              />
              <img
                class="yacht-foto"
                src="../img/yachts/yacht-1-mobile.png"
                alt="yacht"
              />
            </picture>
            <div class="yacht-describe-wrap">
              <div class="yacht-describe-block">
                <h3 class="yacht-describe-title">ARROW</h3>
                <p class="yacht-describe-text">LUXURY YAHTS</p>
              </div>
              <ul class="yacht-describe-list">
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title title-big">LENGTH</p>
                  <p class="yacht-describe-item-info">48m(155ft)</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title title-big">BUILDER</p>
                  <p class="yacht-describe-item-info">Admiral</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title title-big">BUILT</p>
                  <p class="yacht-describe-item-info">2021</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title title-big">GUESTS</p>
                  <p class="yacht-describe-item-info">11 in 5 cabins</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title title-big">PRICE</p>
                  <p class="yacht-describe-item-info">€33,500,000</p>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="swiper-slide yaht-slider-item">
          <div class="yacht-item">
            <picture class="yacht-item-foto">
              <source
                srcset="
                  ./img/yachts/yacht-2-mobile.png    1x,
                  ./img/yachts/yacht-2-mobile@2x.png 2x
                "
                media="(max-width:375px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-2-mobile.webp    1x,
                  ./img/yachts/yacht-2-mobile@2x.webp 2x
                "
                media="(max-width:375px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-2-tablet.png    1x,
                  ./img/yachts/yacht-2-tablet@2x.png 2x
                "
                media="(min-width:376px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-2-tablet.webp    1x,
                  ./img/yachts/yacht-2-tablet@2x.webp 2x
                "
                media="(min-width:376px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-2-desktop.png    1x,
                  ./img/yachts/yacht-2-desktop@2x.png 2x
                "
                media="(min-width:1280px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-2-desktop.webp    1x,
                  ./img/yachts/yacht-2-desktop@2x.webp 2x
                "
                media="(min-width:1280px)"
                type="image/webp"
              />
              <img
                class="yacht-foto"
                src="../img/yachts/yacht-2-mobile.png"
                alt="yacht"
              />
            </picture>
            <div class="yacht-describe-wrap">
              <div class="yacht-describe-block">
                <h3 class="yacht-describe-title">BENETTI OASIS 40M.</h3>
                <p class="yacht-describe-text">LUXURY YAHTS</p>
              </div>
              <ul class="yacht-describe-list">
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">LENGTH</p>
                  <p class="yacht-describe-item-info">41m (133ft)</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">SHIPYARD</p>
                  <p class="yacht-describe-item-info">Benetti</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">BUILT</p>
                  <p class="yacht-describe-item-info">2025</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">GUESTS</p>
                  <p class="yacht-describe-item-info">10 in 5 cabins</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">PRICE</p>
                  <p class="yacht-describe-item-info">€23,500,000</p>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="swiper-slide yaht-slider-item">
          <div class="yacht-item">
            <picture class="yacht-item-foto">
              <source
                srcset="
                  ./img/yachts/yacht-3-mobile.png    1x,
                  ./img/yachts/yacht-3-mobile@2x.png 2x
                "
                media="(max-width:375px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-3-mobile.webp    1x,
                  ./img/yachts/yacht-3-mobile@2x.webp 2x
                "
                media="(max-width:375px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-3-tablet.png    1x,
                  ./img/yachts/yacht-3-tablet@2x.png 2x
                "
                media="(min-width:376px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-3-tablet.webp    1x,
                  ./img/yachts/yacht-3-tablet@2x.webp 2x
                "
                media="(min-width:376px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-3-desktop.png    1x,
                  ./img/yachts/yacht-3-desktop@2x.png 2x
                "
                media="(min-width:1280px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-3-desktop.webp    1x,
                  ./img/yachts/yacht-3-desktop@2x.webp 2x
                "
                media="(min-width:1280px)"
                type="image/webp"
              />
              <img
                class="yacht-foto"
                src="../img/yachts/yacht-3-mobile.png"
                alt="yacht"
              />
            </picture>
            <div class="yacht-describe-wrap">
              <div class="yacht-describe-block">
                <h3 class="yacht-describe-title">BELLE ANNA</h3>
                <p class="yacht-describe-text">LUXURY YAHTS</p>
              </div>
              <ul class="yacht-describe-list">
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">LENGTH</p>
                  <p class="yacht-describe-item-info">50m(155ft)</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">SHIPYARD</p>
                  <p class="yacht-describe-item-info">ISA</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">BUILT</p>
                  <p class="yacht-describe-item-info">2012</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">GUESTS</p>
                  <p class="yacht-describe-item-info">12 in 6 cabins</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">PRICE</p>
                  <p class="yacht-describe-item-info">€21,000,000</p>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="swiper-slide yaht-slider-item">
          <div class="yacht-item">
            <picture class="yacht-item-foto">
              <source
                srcset="
                  ./img/yachts/yacht-4-mobile.png    1x,
                  ./img/yachts/yacht-4-mobile@2x.png 2x
                "
                media="(max-width:375px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-4-mobile.webp    1x,
                  ./img/yachts/yacht-4-mobile@2x.webp 2x
                "
                media="(max-width:375px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-4-tablet.png    1x,
                  ./img/yachts/yacht-4-tablet@2x.png 2x
                "
                media="(min-width:376px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-4-tablet.webp    1x,
                  ./img/yachts/yacht-4-tablet@2x.webp 2x
                "
                media="(min-width:376px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-4-desktop.png    1x,
                  ./img/yachts/yacht-4-desktop@2x.png 2x
                "
                media="(min-width:1280px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-4-desktop.webp    1x,
                  ./img/yachts/yacht-4-desktop@2x.webp 2x
                "
                media="(min-width:1280px)"
                type="image/webp"
              />
              <img
                class="yacht-foto"
                src="../img/yachts/yacht-4-mobile.png"
                alt="yacht"
              />
            </picture>
            <div class="yacht-describe-wrap">
              <div class="yacht-describe-block">
                <h3 class="yacht-describe-title">ELLEN</h3>
                <p class="yacht-describe-text">LUXURY YAHTS</p>
              </div>
              <ul class="yacht-describe-list">
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">LENGTH</p>
                  <p class="yacht-describe-item-info">40m (132ft)</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">SHIPYARD</p>
                  <p class="yacht-describe-item-info">Perini Navi</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">BUILT</p>
                  <p class="yacht-describe-item-info">2001 / 2016 (refitted)</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">GUESTS</p>
                  <p class="yacht-describe-item-info">9 in 4 cabins</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">PRICE</p>
                  <p class="yacht-describe-item-info">€9,300,000</p>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="swiper-slide yaht-slider-item">
          <div class="yacht-item">
            <picture class="yacht-item-foto">
              <source
                srcset="
                  ./img/yachts/yacht-5-mobile.png    1x,
                  ./img/yachts/yacht-5-mobile@2x.png 2x
                "
                media="(max-width:375px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-5-mobile.webp    1x,
                  ./img/yachts/yacht-5-mobile@2x.webp 2x
                "
                media="(max-width:375px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-5-tablet.png    1x,
                  ./img/yachts/yacht-5-tablet@2x.png 2x
                "
                media="(min-width:376px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-5-tablet.webp    1x,
                  ./img/yachts/yacht-5-tablet@2x.webp 2x
                "
                media="(min-width:376px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-5-desktop.png    1x,
                  ./img/yachts/yacht-5-desktop@2x.png 2x
                "
                media="(min-width:1280px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-5-desktop.webp    1x,
                  ./img/yachts/yacht-5-desktop@2x.webp 2x
                "
                media="(min-width:1280px)"
                type="image/webp"
              />
              <img
                class="yacht-foto"
                src="../img/yachts/yacht-5-mobile.png"
                alt="yacht"
              />
            </picture>
            <div class="yacht-describe-wrap">
              <div class="yacht-describe-block">
                <h3 class="yacht-describe-title">MIRAGE 401</h3>
                <p class="yacht-describe-text">LUXURY YAHTS</p>
              </div>
              <ul class="yacht-describe-list">
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">LENGTH</p>
                  <p class="yacht-describe-item-info">38m (125ft)</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">SHIPYARD</p>
                  <p class="yacht-describe-item-info">Gianetti Custom Yachts</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">BUILT</p>
                  <p class="yacht-describe-item-info">2024</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">GUESTS</p>
                  <p class="yacht-describe-item-info">10 in 5 cabins</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">PRICE</p>
                  <p class="yacht-describe-item-info">€13,500,000</p>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="swiper-slide yaht-slider-item">
          <div class="yacht-item">
            <picture class="yacht-item-foto">
              <source
                srcset="
                  ./img/yachts/yacht-6-mobile.png    1x,
                  ./img/yachts/yacht-6-mobile@2x.png 2x
                "
                media="(max-width:375px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-6-mobile.webp    1x,
                  ./img/yachts/yacht-6-mobile@2x.webp 2x
                "
                media="(max-width:375px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-6-tablet.png    1x,
                  ./img/yachts/yacht-6-tablet@2x.png 2x
                "
                media="(min-width:376px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-6-tablet.webp    1x,
                  ./img/yachts/yacht-6-tablet@2x.webp 2x
                "
                media="(min-width:376px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-6-desktop.png    1x,
                  ./img/yachts/yacht-6-desktop@2x.png 2x
                "
                media="(min-width:1280px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-6-desktop.webp    1x,
                  ./img/yachts/yacht-6-desktop@2x.webp 2x
                "
                media="(min-width:1280px)"
                type="image/webp"
              />
              <img
                class="yacht-foto"
                src="../img/yachts/yacht-6-mobile.png"
                alt="yacht"
              />
            </picture>
            <div class="yacht-describe-wrap">
              <div class="yacht-describe-block">
                <h3 class="yacht-describe-title">KING</h3>
                <p class="yacht-describe-text">LUXURY YAHTS</p>
              </div>
              <ul class="yacht-describe-list">
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">LENGTH</p>
                  <p class="yacht-describe-item-info">33m (109ft)</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">SHIPYARD</p>
                  <p class="yacht-describe-item-info">Overmarine</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">BUILT</p>
                  <p class="yacht-describe-item-info">2004 / 2018 (refitted)</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">GUESTS</p>
                  <p class="yacht-describe-item-info">9 in 4 cabins</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">PRICE</p>
                  <p class="yacht-describe-item-info">€1,850,000</p>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="swiper-slide yaht-slider-item">
          <div class="yacht-item">
            <picture class="yacht-item-foto">
              <source
                srcset="
                  ./img/yachts/yacht-7-mobile.png    1x,
                  ./img/yachts/yacht-7-mobile@2x.png 2x
                "
                media="(max-width:375px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-7-mobile.webp    1x,
                  ./img/yachts/yacht-7-mobile@2x.webp 2x
                "
                media="(max-width:375px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-7-tablet.png    1x,
                  ./img/yachts/yacht-7-tablet@2x.png 2x
                "
                media="(min-width:376px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-7-tablet.webp    1x,
                  ./img/yachts/yacht-7-tablet@2x.webp 2x
                "
                media="(min-width:376px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-7-desktop.png    1x,
                  ./img/yachts/yacht-7-desktop@2x.png 2x
                "
                media="(min-width:1280px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-7-desktop.webp    1x,
                  ./img/yachts/yacht-7-desktop@2x.webp 2x
                "
                media="(min-width:1280px)"
                type="image/webp"
              />
              <img
                class="yacht-foto"
                src="../img/yachts/yacht-7-mobile.png"
                alt="yacht"
              />
            </picture>
            <div class="yacht-describe-wrap">
              <div class="yacht-describe-block">
                <h3 class="yacht-describe-title">SALT</h3>
                <p class="yacht-describe-text">LUXURY YAHTS</p>
              </div>
              <ul class="yacht-describe-list">
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title title-big">LENGTH</p>
                  <p class="yacht-describe-item-info">32m (105ft)</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title title-big">BUILDER</p>
                  <p class="yacht-describe-item-info">SanLorenzo</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title title-big">BUILT</p>
                  <p class="yacht-describe-item-info">2019</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title title-big">GUESTS</p>
                  <p class="yacht-describe-item-info">11 in 5 cabins</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title title-big">PRICE</p>
                  <p class="yacht-describe-item-info">€7,800,000</p>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="swiper-slide yaht-slider-item">
          <div class="yacht-item">
            <picture class="yacht-item-foto">
              <source
                srcset="
                  ./img/yachts/yacht-8-mobile.png    1x,
                  ./img/yachts/yacht-8-mobile@2x.png 2x
                "
                media="(max-width:375px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-8-mobile.webp    1x,
                  ./img/yachts/yacht-8-mobile@2x.webp 2x
                "
                media="(max-width:375px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-8-tablet.png    1x,
                  ./img/yachts/yacht-8-tablet@2x.png 2x
                "
                media="(min-width:376px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-8-tablet.webp    1x,
                  ./img/yachts/yacht-8-tablet@2x.webp 2x
                "
                media="(min-width:376px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-8-desktop.png    1x,
                  ./img/yachts/yacht-8-desktop@2x.png 2x
                "
                media="(min-width:1280px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-8-desktop.webp    1x,
                  ./img/yachts/yacht-8-desktop@2x.webp 2x
                "
                media="(min-width:1280px)"
                type="image/webp"
              />
              <img
                class="yacht-foto"
                src="../img/yachts/yacht-8-mobile.png"
                alt="yacht"
              />
            </picture>
            <div class="yacht-describe-wrap">
              <div class="yacht-describe-block">
                <h3 class="yacht-describe-title">STORM</h3>
                <p class="yacht-describe-text">LUXURY YAHTS</p>
              </div>
              <ul class="yacht-describe-list">
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">LENGTH</p>
                  <p class="yacht-describe-item-info">32m (103ft)</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">SHIPYARD</p>
                  <p class="yacht-describe-item-info">Overmarine</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">BUILT</p>
                  <p class="yacht-describe-item-info">2005 / 2022 (refitted)</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">GUESTS</p>
                  <p class="yacht-describe-item-info">9 in 4 cabins</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">PRICE</p>
                  <p class="yacht-describe-item-info">€2,900,000</p>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="swiper-slide yaht-slider-item">
          <div class="yacht-item">
            <picture class="yacht-item-foto">
              <source
                srcset="
                  ./img/yachts/yacht-9-mobile.png    1x,
                  ./img/yachts/yacht-9-mobile@2x.png 2x
                "
                media="(max-width:375px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-9-mobile.webp    1x,
                  ./img/yachts/yacht-9-mobile@2x.webp 2x
                "
                media="(max-width:375px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-9-tablet.png    1x,
                  ./img/yachts/yacht-9-tablet@2x.png 2x
                "
                media="(min-width:376px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-9-tablet.webp    1x,
                  ./img/yachts/yacht-9-tablet@2x.webp 2x
                "
                media="(min-width:376px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-9-desktop.png    1x,
                  ./img/yachts/yacht-9-desktop@2x.png 2x
                "
                media="(min-width:1280px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-9-desktop.webp    1x,
                  ./img/yachts/yacht-9-desktop@2x.webp 2x
                "
                media="(min-width:1280px)"
                type="image/webp"
              />
              <img
                class="yacht-foto"
                src="../img/yachts/yacht-9-mobile.png"
                alt="yacht"
              />
            </picture>
            <div class="yacht-describe-wrap">
              <div class="yacht-describe-block">
                <h3 class="yacht-describe-title">COLLU</h3>
                <p class="yacht-describe-text">LUXURY YAHTS</p>
              </div>
              <ul class="yacht-describe-list">
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">LENGTH</p>
                  <p class="yacht-describe-item-info">29m (96ft)</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">SHIPYARD</p>
                  <p class="yacht-describe-item-info">Ferretti</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">BUILT</p>
                  <p class="yacht-describe-item-info">2014</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">GUESTS</p>
                  <p class="yacht-describe-item-info">10 in 5 cabins</p>
                </li>
                <li class="yacht-describe-item">
                  <p class="yacht-describe-item-title">PRICE</p>
                  <p class="yacht-describe-item-info">$4,300,000</p>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <!-- If we need pagination -->

      <div class="yacht-swiper-button-wrap">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>
