<section class="section">
  <div class="container yacht">
    <!-- Slider main container -->
    <div class="swiper yacht-swiper">
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper">
        <!-- Slides -->
        <li class="swiper-slide yaht-slider-item">
          <div class="yacht-item">
            <picture>
              <source
                srcset="
                  ./img/yachts/yacht-1-mobile.png    1x,
                  ./img/yachts/yacht-1-mobile@2x.png 2x
                "
                media="(max-width:375px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-1-mobile.webp    1x,
                  ./img/yachts/yacht-1-mobile@2x.webp 2x
                "
                media="(max-width:375px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-1-tablet.png    1x,
                  ./img/yachts/yacht-1-tablet@2x.png 2x
                "
                media="(min-width:376px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-1-tablet.webp    1x,
                  ./img/yachts/yacht-1-tablet@2x.webp 2x
                "
                media="(min-width:376px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-1-desktop.png    1x,
                  ./img/yachts/yacht-1-desktop@2x.png 2x
                "
                media="(min-width:1280px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-1-desktop.webp    1x,
                  ./img/yachts/yacht-1-desktop@2x.webp 2x
                "
                media="(min-width:1280px)"
                type="image/webp"
              />
              <img
                class="yacht-foto"
                src="../img/yachts/yacht-1-mobile.png"
                alt="yacht"
              />
            </picture>
          </div>
        </li>
        <li class="swiper-slide yaht-slider-item">
          <div class="yacht-item">
            <picture>
              <source
                srcset="
                  ./img/yachts/yacht-2-mobile.png    1x,
                  ./img/yachts/yacht-2-mobile@2x.png 2x
                "
                media="(max-width:375px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-2-mobile.webp    1x,
                  ./img/yachts/yacht-2-mobile@2x.webp 2x
                "
                media="(max-width:375px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-2-tablet.png    1x,
                  ./img/yachts/yacht-2-tablet@2x.png 2x
                "
                media="(min-width:376px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-2-tablet.webp    1x,
                  ./img/yachts/yacht-2-tablet@2x.webp 2x
                "
                media="(min-width:376px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-2-desktop.png    1x,
                  ./img/yachts/yacht-2-desktop@2x.png 2x
                "
                media="(min-width:1280px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-2-desktop.webp    1x,
                  ./img/yachts/yacht-2-desktop@2x.webp 2x
                "
                media="(min-width:1280px)"
                type="image/webp"
              />
              <img
                class="yacht-foto"
                src="../img/yachts/yacht-2-mobile.png"
                alt="yacht"
              />
            </picture>
          </div>
        </li>
        <li class="swiper-slide yaht-slider-item">
          <div class="yacht-item">
            <picture>
              <source
                srcset="
                  ./img/yachts/yacht-3-mobile.png    1x,
                  ./img/yachts/yacht-3-mobile@2x.png 2x
                "
                media="(max-width:375px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-3-mobile.webp    1x,
                  ./img/yachts/yacht-3-mobile@2x.webp 2x
                "
                media="(max-width:375px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-3-tablet.png    1x,
                  ./img/yachts/yacht-3-tablet@2x.png 2x
                "
                media="(min-width:376px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-3-tablet.webp    1x,
                  ./img/yachts/yacht-3-tablet@2x.webp 2x
                "
                media="(min-width:376px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/yachts/yacht-3-desktop.png    1x,
                  ./img/yachts/yacht-3-desktop@2x.png 2x
                "
                media="(min-width:1280px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/yachts/yacht-3-desktop.webp    1x,
                  ./img/yachts/yacht-3-desktop@2x.webp 2x
                "
                media="(min-width:1280px)"
                type="image/webp"
              />
              <img
                class="yacht-foto"
                src="../img/yachts/yacht-3-mobile.png"
                alt="yacht"
              />
            </picture>
          </div>
        </li>
      </ul>
      <!-- If we need pagination -->

      <div class="yacht-swiper-button-wrap">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>
