.footer {
    padding-top: 20px;
    padding-bottom: 14px;
    background-color: var(--dark-blue);
}

.footer-logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 41px;
    position: relative;
    margin-top: 20px;
}

.footer-logo::before {
    content: "";
    display: block;
    position: absolute;
    width: 375px;
    height: 1px;
    flex-shrink: 0;
    top: -40px;
    left: 0;
    background-color: var(--light);
}

.footer-logo-img {
    width: 16px;
    height: 18px;
    flex-shrink: 0;
    fill: var(--dark-blue);
}

.footer-logo-text {
    color: var(--light);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-logo-text:hover,
.footer-logo-text:focus {
    color: var(--accent);
}

.footer-menu {
    margin-bottom: 40px;
}

.footer-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 14px;
}

.footer-menu-anchor {
    color: var(--light);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-menu-anchor:hover, 
.footer-menu-anchor:focus {
    color: var(--accent);

}

.footer-social {
    margin-bottom: 40px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.footer-social-text {
    color: var(--light);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
}

.footer-social-list {
    display: flex;
    align-items: flex-start;
    gap: 14px;
}

.footer-social-item {
    width: 32px;
    height: 32px;
    stroke-width: 1px;
    stroke: var(--accent);
}

.footer-social-link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--light);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    stroke-width: 1px;
    stroke: var(--opacity-light);
}

.footer-social-link:hover,
.footer-social-link:focus {
    border: var(--accent);
}

.footer-social-icon {
    fill: var(--light);
    stroke-width: 1px;
    stroke: var(--light);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .footer-social-icon:hover,
    .footer-social-icon:focus {
        fill: currentColor;
    }


.footer-bottom-container {
    display: flex;
    justify-content: center;
    gap: 14px;
}

.footer-bottom-text {
    color: rgba(246, 245, 239, 0.50);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.36px;
}

.footer-bottom-text:hover,
.footer-bottom-text:focus {
    color: var(--accent);
}
@media screen and (min-width: 768px) {
    .footer {
        padding-top: 32px;
        padding-bottom: 16px;
}

    .footer-logo-menu-social {
        display: flex;
        align-items: baseline;
        justify-content:space-between;
        margin-bottom: 100px;
    }

    .footer-logo {
        margin-bottom: 0;
    }

    .footer-logo::before {
        width: 768px;
        top: -52px;
        left: 0;
    }

    .footer-menu {
        margin-bottom: 0;
    }

    .footer-social {
        margin-bottom: 0;
    }

    .footer-social-item {
        width: 40px;
        height: 40px;
    }

}

@media screen and (min-width: 1280px) {

.footer-logo::before {
    width: 1280px;
}

.footer-logo-menu-social {
    margin-bottom: 0;
}

.footer-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 14px;
}

.footer-social-list {
    margin-bottom: 132px;
}
}