.header-container
{display: flex;
    background-color: var(--dark-blue);
    position: sticky; 
}
.header-container::after {
    content: "";
   display: block;
width: 380px;
height: 1px;  
background-color: rgba(246, 245, 239, 0.20); 
position: absolute;
top: 75px;
}
      

.header-logo
{display: flex;
    align-items: center;
gap: 8px;

padding: 28px 0;
color: var(--light);

font-size: 14px;
font-weight: 700;
line-height: 114%; /* 15.96px */
letter-spacing: 0.42px;
text-transform: uppercase;
}

.navigation-list
{display: flex;
gap: 24px;}

/* ---------------- Mobile Menu ---------------- */
.header-burger-btn {
    height: 24px;
    width: 24px;
    margin-left: auto;
    
    padding: 24px 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    
    outline: none; 
}
@media (min-width: 768px) {
    .header-burger-btn {
      display: none;
    }
  }

  
   
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  } 

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 15px 15px;
    background-color: var(--dark-blue);
    z-index: 999;
   
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
  .mobile-close-btn {
 width: 30px;
 height: 30px;
  background-color: transparent;
border: none;
position: absolute;
top: 24px;
right: 20px;
  
    color: var(--light);
  }
  
  
  
  .mobile-menu {
    padding: 212px 162px;
    margin: 0;
    list-style: none;
  }
  
  .mobile-menu .link {
    display: block;
    padding: 14px;

    color: #fff;
    text-decoration: none;
    font-size: 14px;
font-weight: 700;
line-height: 118%; 
letter-spacing: 0.42px;
text-transform: uppercase;
  }

@media only screen and (max-width: 767px)
{.header-navigation
{display: none;}}
