/**
  |============================
  | HERO
  |============================
*/

.hero-section {
  padding-top: 64px;
}

.hero-container {
}

.hero-title {
  max-width: 332px;
  margin-bottom: 14px;
}

.hero-text {
}

.hero-list {
}

.hero-item {
}

.hero-button {
}

.hero-anchor {
}

.hero-owner {
}
