.hero-section {
  position: relative;
  padding-top: 40px;
  padding-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  .hero-section {
    padding-top: 64px;
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-section {
    padding-bottom: 164px;
  }
}

.hero-container {
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (min-width: 768px) {
  .hero-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}

.hero-right {
  padding-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .hero-right {
    padding-bottom: 64px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-right {
    padding-bottom: 0;
  }
}

.hero-title {
  width: 332px;
  max-width: 100%;
  margin-bottom: 14px;
  letter-spacing: -0.045em;
}

@media only screen and (max-width: 767px) {
  .hero-accent {
    font-style: normal;
  }
}

@media only screen and (min-width: 768px) {
  .hero-title {
    width: 698px;
    margin-bottom: 16px;
    letter-spacing: -0.045em;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-title {
    width: 554px;
    letter-spacing: -0.027em;
  }
}

.hero-text {
  width: 332px;
  max-width: 100%;
  margin-bottom: 24px;

  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--light);
}

@media only screen and (min-width: 768px) {
  .hero-text {
    width: 539px;
    margin-bottom: 32px;

    font-size: 16px;
    letter-spacing: -0.02em;
  }
}

.hero-list {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

@media only screen and (min-width: 768px) {
  .hero-list {
    gap: 11px;
  }
}

.hero-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 14px 28px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.045em;
  color: var(--light);
  background-color: var(--accent);
  border-radius: var(--btn-radius);
  border: none;

  transition: background-color var(--anim);
}

@media only screen and (min-width: 768px) {
  .hero-button {
    font-size: 18px;
    letter-spacing: -0.045em;
  }
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--alt-accent);
}

.hero-anchor {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 13px 27px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.045em;
  color: var(--light);
  background-color: transparent;
  border-radius: var(--btn-radius);
  border: 1px solid currentColor;

  transition: color var(--anim) border var(--anim);
}

@media only screen and (min-width: 768px) {
  .hero-anchor {
    font-size: 18px;
    letter-spacing: -0.045em;
  }
}

.hero-anchor:hover,
.hero-anchor:focus {
  color: var(--accent);
}

.hero-left {
  position: relative;
}

.hero-left::after {
  content: '';
  position: absolute;
  width: 279px;
  height: 279px;
  top: -2px;
  left: -264px;
  transform: rotate(-45deg);
  border-radius: 50%;
  opacity: 0.6;
  background-color: #91afba;
  filter: blur(100px);
}

@media only screen and (min-width: 768px) {
  .hero-left::after {
    width: 414px;
    height: 414px;
    top: 96px;
    left: -424px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-left::after {
    bottom: 20px;
    left: -254px;
  }
}

.hero-left::before {
  content: '';
  position: absolute;
  width: 279px;
  height: 279px;
  top: 32px;
  left: -103px;
  transform: rotate(-45deg);
  border-radius: 50%;
  opacity: 0.9;
  background-color: #939cac;
  filter: blur(100px);
}

@media only screen and (min-width: 768px) {
  .hero-left::before {
    width: 414px;
    height: 414px;
    top: 130px;
    left: -187px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-left::before {
    bottom: -38px;
    left: -17px;
  }
}

@media only screen and (min-width: 768px) {
  .hero-grad {
    position: absolute;
    width: 317px;
    height: 317px;
    transform: rotate(-45deg);
    top: 94px;
    left: 52px;
    border-radius: 50%;
    opacity: 0.3;
    background: #a6a9b2;
    filter: blur(100px);
  }
}

@media only screen and (min-width: 1280px) {
  .hero-grad {
    top: 185px;
    left: 222px;
  }
}

.hero-rectangle {
  position: relative;
  display: block;
  max-width: 100%;
  width: 335px;
  height: 427px;
}

@media only screen and (min-width: 768px) {
  .hero-rectangle {
    width: 426px;
    height: 598px;
  }
}

.hero-blok-clients {
  position: absolute;
  top: 24px;
  left: 24px;
}

@media only screen and (min-width: 768px) {
  .hero-blok-clients {
    top: 32px;
    left: 32px;
  }
}

.hero-clients {
  display: flex;
  position: relative;
  width: 135px;
  margin-bottom: 13px;
}

@media only screen and (min-width: 768px) {
  .hero-clients {
    width: 149px;
    margin-bottom: 11px;
  }
}

.hero-client-person {
  margin-right: -7px;;
}

@media only screen and (min-width: 768px) {
  .hero-client-person {
    margin-right: -11px;
  }
}

.hero-one {
  position: relative;
    z-index: 1;
}

.hero-two {
  position: absolute;
    z-index: 3;
    left: 41px;
    position: relative;
}

@media only screen and (min-width: minwidthpx) {
  .hero-two {
    left: 45px;
  }
}

.hero-three {
  position: absolute;
    z-index: 2;
    left: 41px;
}

@media only screen and (min-width: minwidthpx) {
  .hero-three {
    left: 45px;
  }
}

.hero-client-img {
  max-width: 100%;
  width: 48px;
  height: 48px;
}

@media only screen and (min-width: 768px) {
  .hero-client-img {
    width: 56px;
    height: 56px;
  }
}

.hero-client-text {
  color: var(--dark-blue);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.hero-yaht-container {
  position: absolute;
  top: 152px;
  left: 24px;
  max-width: 100%;
  width: 287px;
  height: 167px;
}

@media only screen and (min-width: 768px) {
  .hero-yaht-container {
    top: 225px;
    left: 24px;
    width: 378px;
    height: 221px;
  }
}

.hero-price {
  position: absolute;
  bottom: 48px;
  left: 24px;
  display: flex;
  align-items: center;
  gap: 14px;
}

@media only screen and (min-width: 768px) {
  .hero-price {
    bottom: 64px;
    left:32px;
  }
}

.hero-cost {
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.045em;
  text-transform: uppercase;
  color: var(--dark-blue);
}

@media only screen and (min-width: 768px) {
  .hero-cost {
    font-size: 60px;
    letter-spacing: -0.045em;
  }
}

.hero-cost-description {
  width: 169px;

  font-size: 14px;
  letter-spacing: -0.045em;
  color: var(--dark-blue);
}

@media only screen and (min-width: 768px) {
  .hero-cost-description {
    width: 208px;

    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.045em;
  }
}

.hero-owner-container {
  position: absolute;
  top: 35px;
  right: -12px;
  max-width: 100%;
  width: 133px;
  height: 133px;
}

@media only screen and (min-width: 768px) {
  .hero-owner-container {
    top: 32px;
    left: 339px;
    width: 233px;
    height: 233px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-owner-img {
    top: 32px;
    left: 305px;
  }
}
