.introduce img {
  margin-bottom: 1.5rem;
}
.introduce-div {
  align-items: center;
  min-width: 320px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .introduce-div {
    width: 768px;
  }
}
@media only screen and (min-width: 1280px) {
  .introduce-div {
    width: 1280px;
    flex-wrap: wrap;
  }
}

.introduce-wrap-text {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1280px) {
  .introduce-wrap-text {
    flex-direction: row;
  }
}
.introduce-text-adventure {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1.08px;
  width: 335px;
}
@media only screen and (min-width: 768px) {
  .introduce-text-adventure {
    width: 514px;
    font-size: 2rem;
    letter-spacing: -1.44px;
  }
}

.introduce-div-adventure {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .introduce-div-adventure {
    display: flex;
    gap: 32px;
  }
}
.introduce-yacht-span {
  font-style: italic;
  background: var(
    --linear-green,
    linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.introduce-two-texts {
  gap: 0.88rem;
  margin-bottom: 2.5rem;
}
@media only screen and (min-width: 768px) {
  .introduce-two-texts {
    margin-right: 2rem;
    margin-left: auto;
    margin-bottom: 4rem;
    max-width: 25rem;
  }
}

.introduce-list {
  display: flex;
  gap: 14px;
}
.introduce-text-text {
  font-size: 0.88rem;
  line-height: 1.4;
  letter-spacing: -0.28px;
  width: 160px;
}
@media only screen and (min-width: 768px) {
  .introduce-text-text {
    width: 183px;
    font-size: 1rem;
    letter-spacing: -0.32px;
  }
}

.introduce-yacht-wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media only screen and (min-width: 768px) {
  .introduce-yacht-wrap {
    gap: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .introduce-yacht-wrap {
    gap: 0;
  }
}

@media only screen and (min-width: 768px) {
  .introduce-img-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .introduce-yacht-1 {
    margin: 0 auto;
    margin-bottom: -1rem;
  }
}
@media only screen and (min-width: 768px) {
  .introduce-yacht-2 {
    margin-right: auto;
  }
}
@media only screen and (min-width: 1280px) {
  .introduce-yacht-2 {
    margin-right: 57.8rem;
    margin-top: -17.5rem;
  }
}
.introduce-yacht-3 {
  justify-content: flex-end;
}
@media only screen and (min-width: 768px) {
  .introduce-yacht-3 {
    margin-left: 22rem;
    margin-top: -7rem;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1280px) {
  .introduce-yacht-3 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 22.75rem;
  }
}
