.reviews {
  padding-top: 80px;
  padding-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .reviews {
    padding-top: 100px;
    padding-bottom: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .reviews {
    padding-top: 164px;
  }
}
.reviews-titel {
  color: var(--light);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1.08px;
  max-width: 100%;
}
@media only screen and (max-width: 767px) {
  .reviews-titel {
    margin-bottom: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .reviews-titel {
    max-width: 500px;
    font-size: 32px;
  }
}
@media only screen and (max-width: 1279px) {
  .reviews-titel {
    margin-bottom: 32px;
  }
}
.reviews-text {
  color: var(--light);
  font-size: 14px;
  letter-spacing: -0.28px;
  max-width: 100%;
}
@media only screen and (min-width: 768px) {
  .reviews-text {
    max-width: 273px;
    font-size: 16px;
    margin-left: auto;
  }
}
.reviews-bloc-titel {
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .reviews-bloc-titel {
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1280px) {
  .reviews-bloc-titel {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 64px;
  }
}

.reviews-swiper {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: 38px;
}
.swiper-pagination-bullet {
  background-color: var(--alt-blue);
  width: 13px;
  height: 13px;
}
.swiper-pagination-bullet-active {
  background-color: var(--alt-accent);
}

.reviews-swiper-wrapper {
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .reviews-swiper-wrapper {
    justify-content: flex-start;
  }
}
.reviews-item {
  border-radius: 24px;
  background: var(--alt-blue);
  padding: 24px 32px;
}
@media only screen and (min-width: 768px) {
  .swiper-slide {
    width: 49%;
  }
}
@media only screen and (min-width: 1280px) {
  .swiper-slide {
    max-width: 384px;
  }
  .swiper-pagination {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .reviews-item {
    width: 344px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media only screen and (min-width: 1280px) {
  .reviews-item {
    /* width: calc((100%-2*32px)/3); */
    width: 384px;
    /* min-height: 282px; */
    padding: 32px 24px;
  }
}
.reviews-box-foto {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
  position: relative;
}
.reviews-foto {
  max-width: 96px;
  max-width: 96px;
  object-fit: cover;
  position: absolute;
  top: -50%;
  left: -50%;
}
@media only screen and (min-width: 768px) {
  .reviews-box-foto {
    width: 56px;
    height: 56px;
    margin-bottom: 24px;
  }
  .reviews-foto {
    max-width: 128px;
    max-width: 128px;
  }
}

.reviews-name {
  color: var(--light);
  text-align: center;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.72px;
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .reviews-name {
    font-size: 18px;
    letter-spacing: -0.81px;
  }
}
.reviews-response {
  color: rgba(246, 245, 239, 0.5);
  text-align: center;
  font-size: 12px;
  letter-spacing: -0.24px;
}
@media only screen and (min-width: 768px) {
  .reviews-response {
    font-size: 16px;
    letter-spacing: -0.32px;
    max-width: 320px;
  }
}

.btn {
  font-family: inherit;
  cursor: pointer;
  border: none;
}
.reviews-btn-scroll {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  display: block;
  width: 44px;
  height: 44px;
  margin-left: auto;
  background-color: var(--accent);
  border-radius: 8px;
  transition: background-color var(--anim);
  visibility: hidden;
}
@media only screen and (min-width: 768px) {
  .reviews-btn-scroll {
    width: 68px;
    height: 68px;
  }
}

.reviews-btn-scroll:hover,
.reviews-btn-scroll:focus {
  background-color: var(--alt-accent);
}

.reviews-btn-up {
  width: 24px;
  height: 24px;
  stroke: var(--light);
}
