.reviews {
  padding-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .reviews {
    padding-bottom: 32px;
  }
}
.reviews-titel {
  color: var(--light);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1.08px;
  max-width: 100%;
}
@media only screen and (max-width: 767px) {
  .reviews-titel {
    margin-bottom: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .reviews-titel {
    max-width: 500px;
    font-size: 32px;
    margin-right: auto;
  }
}
@media only screen and (max-width: 1279px) {
  .reviews-titel {
    margin-bottom: 32px;
  }
}
.reviews-text {
  color: var(--light);
  font-size: 14px;
  letter-spacing: -0.28px;
  max-width: 100%;
}
@media only screen and (min-width: 768px) {
  .reviews-text {
    max-width: 273px;
    font-size: 16px;
    margin-left: auto;
  }
}
.reviews-bloc-titel {
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .reviews-bloc-titel {
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1280px) {
  .reviews-bloc-titel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
  }
}

.swiper {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: 38px;
  color: var(--alt-accent);
}
@media only screen and (min-width: 768px) {
  .swiper {
    padding-bottom: 56px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .swiper-slide {
    width: 49%;
  }
}

@media only screen and (max-width: 1279px) {
  .reviews-list {
  }
}

@media only screen and (min-width: 1280px) {
  .reviews-swiper {
    display: none;
  }
}

.reviews-list {
  display: none;
}

@media only screen and (min-width: 1280px) {
  .reviews-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin-bottom: 64px;
  }
}
.reviews-item {
  border-radius: 24px;
  background: var(--alt-blue);
  padding: 24px;
}
@media only screen and (min-width: 768px) {
  .reviews-item {
    max-width: 344px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media only screen and (min-width: 1280px) {
  .reviews-item {
    flex-basis: calc((100%-2 * 32px) / 3);
    /* min-height: 282px; */
    padding: 32px;
  }
}
.reviews-box-foto {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
  position: relative;
}
.reviews-foto {
  max-width: 96px;
  max-width: 96px;
  object-fit: cover;
  position: absolute;
  top: -50%;
  left: -50%;
}
@media only screen and (min-width: 768px) {
  .reviews-box-foto {
    width: 56px;
    height: 56px;
    margin-bottom: 24px;
  }
  .reviews-foto {
    max-width: 128px;
    max-width: 128px;
  }
}

.reviews-name {
  color: var(--light);
  text-align: center;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.72px;
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .reviews-name {
    font-size: 18px;
    letter-spacing: -0.81px;
  }
}
.reviews-response {
  color: rgba(246, 245, 239, 0.5);
  text-align: center;
  font-size: 12px;
  letter-spacing: -0.24px;
}
@media only screen and (min-width: 768px) {
  .reviews-response {
    font-size: 16px;
    letter-spacing: -0.32px;
    max-width: 320px;
  }
}
.btn {
  font-family: inherit;
  cursor: pointer;
  border: none;
}
.reviews-btn-scroll {
  display: block;
  width: 44px;
  height: 44px;
  margin-left: auto;
  background-color: #93abae;
  border-radius: 8px;
}
@media only screen and (min-width: 768px) {
  .reviews-btn-scroll {
    width: 68px;
    height: 68px;
  }
}

.reviews-btn-up {
  width: 34px;
  height: 34px;
  stroke: var(--light);
}
