/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./include.css');
@import url('./yacht.css');
@import url('./rest.css');
@import url('./rent.css');
@import url('./reviews.css');
@import url('./footer.css');

:root {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 400;

  --dark-blue: #11131f;

  --alt-blue: #1f212d;

  --accent: #93abae;

  --alt-accent: #88b3b9;

  --light: #f6f5ef;

  --opacity-light: rgba(246, 245, 239, 0.2);

  --btn-radius: 60px;

  --rest-gradient: linear-gradient(
    0deg,
    rgba(17, 19, 31, 0.2) 0%,
    rgba(17, 19, 31, 0.2) 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
