.yacht{
    padding-top: 80px;
    padding-bottom: 140px;
}
@media only screen and (min-width: 768px) {
  .yacht{
      padding-top: 100px;
      padding-bottom: 168px;
  }
}
@media only screen and (min-width: 1280px) {
    .yacht{
        padding-top: 164px;
        padding-bottom: 164px;
    }
  }
  .yacht-item{
    background: var(--alt-blue);
    border-radius: 24px;
    padding: 18px 18px 24px 18px;
  }